<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mig.lov.mapper.HpfmLovValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mig.lov.entity.HpfmLovValue">
        <id column="lov_value_id" property="lovValueId"/>
        <result column="lov_id" property="lovId"/>
        <result column="lov_code" property="lovCode"/>
        <result column="value" property="value"/>
        <result column="meaning" property="meaning"/>
        <result column="description" property="description"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tag" property="tag"/>
        <result column="order_seq" property="orderSeq"/>
        <result column="parent_value" property="parentValue"/>
        <result column="start_date_active" property="startDateActive"/>
        <result column="end_date_active" property="endDateActive"/>
        <result column="enabled_flag" property="enabledFlag"/>
        <result column="object_version_number" property="objectVersionNumber"/>
        <result column="creation_date" property="creationDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lov_value_id
        , lov_id, lov_code, value, meaning, description, tenant_id, tag, order_seq, parent_value, start_date_active, end_date_active, enabled_flag, object_version_number, creation_date, created_by, last_update_date, last_updated_by
    </sql>

</mapper>
